<style>
 .mat-option {
    /* line-height: 48px;*/
    line-height: normal;

    min-width: 200px;
 }
 .cdk-overlay-pane {
    width: 200px;
 }

 .commandcard {
    background-color: #6ecbf7;
    border-radius: 10px;
 }
 .smallcommandcard {
    background-color: #6ecbf7;
    width: 900px;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
 }
.smallbutton {
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
}
table > tr > td {
  padding-left: 5px;
  padding-right: 5px;
}
</style>
<h1>            <img src="assets/package.svg" width="50" height="50" />
    Commandes et réception marchandises</h1>

<mat-card class="card-container card-blob commandcard">

<h2>Noter une marchandise en commande</h2>
<form (submit)="onSubmitCommand()" [formGroup]="commandGroup">
        <h5>Saisir une marchandise en commande:</h5>
        <mat-form-field>
          <input matInput 
          placeholder="Référence produit" 
          formControlName="ref" 
          oninput="this.value = this.value.toUpperCase()"
          [matAutocomplete]="autoDestination"
          required
          >
          <mat-error *ngIf="commandGroup.controls['ref'].hasError('minLength')">Saisir un code produit</mat-error>
          <mat-error *ngIf="commandGroup.controls['ref'].hasError('unknown')">Saisir un code produit</mat-error>

          <mat-autocomplete #autoDestination="matAutocomplete"> <!-- [displayWith]="displayFn"> -->
            <mat-option *ngFor="let product of filteredProducts$ | async" [value]="product.id">
              <div><span>{{ product.id }}</span> <small> ({{product.marque}})</small></div>
              <small>{{product.description}}</small>
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>


        <mat-form-field>
          <input matInput placeholder="Quantité" formControlName="qty" [value]="1" required>
          <mat-error *ngIf="commandGroup.controls['qty'].hasError('min')">Au moins un produit</mat-error>
        </mat-form-field>
        <button mat-raised-button  type="submit" [disabled]="commandGroup.invalid">Créer ✓✔</button>
        <!--  -->
</form>
</mat-card>

<mat-divider></mat-divider>

<h2>Commandes en cours</h2>
<table>
<tr *ngFor="let command of (currentCommand$ | async)"  class="smallcommandcard">
        <!--<mat-card class="card-container card-blob smallcommandcard" > -->
          <td><button class="smallbutton"  mat-raised-button (click)="onCancelCommand(command)">❎</button></td>
          <td><span>Commande {{command.date}}</span></td>
          <td><span>{{command.ref}}</span> </td>
          <td><span>Qté. {{command.qty}}</span></td>
          <td><button  class="smallbutton" mat-raised-button (click)="onReceiveCommand(command)" >Reçu Ok 📦 ✔</button></td>
        <!-- </mat-card> -->
</tr>
</table>

<mat-divider></mat-divider>

<h2>Commandes reçues <button (click)='onPrevClick()'>Précédent</button> <button (click)='onNextClick()'>Suivant</button> </h2>
<table>
    <tr *ngFor="let command of previousCommand$ |async"  class="smallcommandcard">
        <td>Commande du {{command.date}}</td> <td>{{command.ref}}</td> <td>Qté. {{command.qty}}</td>
    </tr>
</table>
    