
  <!-- Toolbar
  
  background-color: aquamarine;
color: white;
font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
  -->

    <mat-toolbar class="toolbar" role="banner">
      <img width="40" alt="Logo" src="assets/company.svg" [routerLink]="['/']" />
      <span [routerLink]="['/']">{{title}}</span>
      <span style="flex: 1 1 auto"></span>
  

      <img class="smallheadimage" [routerLink]="['/sale']" src="assets/shopping.svg" />
      <img class="smallheadimage" [routerLink]="['/command']" src="assets/package.svg" />
      <img class="smallheadimage" [routerLink]="['/inventory']" src="assets/stock.svg" />
      <img class="smallheadimage" [routerLink]="['/product-list']" src="assets/papers.svg" />
    </mat-toolbar>
<router-outlet></router-outlet>